<form (ngSubmit)="registerForm()" class="container">
  <div class="user-image">
    <img src="../../assets/image/user-image.jpg" alt="User Image" class="image" />
  </div>
  <div class="text">
    <h1 class="registerHeading">Registration</h1>
  </div>
  <div class="input-values">
    <!-- Email Field -->
    <div class="input-group input-group-lg email">
      <label for="email" class="input-group-text">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="registerObj.email" class="form-control"
        aria-label="Email" aria-describedby="emailHelp" required />
    </div>
    <!-- Username Field -->
    <div class="input-group input-group-lg username">
      <label for="username" class="input-group-text">Username</label>
      <input type="text" id="username" name="username" [(ngModel)]="registerObj.username" class="form-control"
        aria-label="Username" required />
    </div>
    <!-- Password Field -->
    <div class="input-group input-group-lg password">
      <label for="password" class="input-group-text">Password</label>
      <input type="password" id="password" name="password" [(ngModel)]="registerObj.password" class="form-control"
        aria-label="Password" required />
    </div>
  </div>
  <!-- Submit Button -->
  <div class="button">
    <div class="d-grid gap-2 col-6 mx-auto">
      <button class="btn btn-primary" type="submit">Register</button>
    </div>
  </div>
</form>