<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <app-sidebar></app-sidebar>
        </div>
        <div class="col">
            <br>
            <br>
            <br>
            <br>
            <br>
            <h2 class="Account-heading">Account Info</h2>
            <form>
                <div class="form-inpu">
                    <div class="form-group form-input">
                        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Name" class="col-4 l-name" >
                        <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Last Name" class="col-4 l-name">
                    </div>
                </div>
                <div class="form-group">
                    <input type="name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Display Name" class="d-name">
                </div>
                <p class="col-4 Display-text">Only letters and numbers with no spaces.</p>
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email" class="d-name">
                </div>
                <div class="col-10 button-Save-Changes">
                    <button type="button" class="btn btn-primary btn-lg">Save Changes</button>
                </div>
                <br>
                <br>
                <br>
                <h2 class="Profile-heading">Profile Details</h2>
                <div class="form-inpu">
                    <div class="form-group form-input">
                        <input type="country" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Country" class="col-4 l-name" >
                        <input type="city" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="City" class="col-4 l-name">
                    </div>
                </div>
                <div class="form-group">
                    <input type="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Title" class="d-name">
                </div>
                <div class="form-group website">
                    <input type="Title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Webside" class="d-name website ">
                </div>
                <div class="form-group website1">
                    <!-- <textarea class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"placeholder="Webside" class="d-name "> -->
                        <textarea class="form-control textarea" id="w3review" name="w3review" rows="4" cols="50" placeholder="Bio"></textarea>
                </div>
               <div class="profile_Button"> <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Save Changes</a></div>
            </form>
        </div>
    </div>
</div>