<nav class="container navbar">
    <div class="container">
        <div class="dropdown ">
            <select class="search_bar_button" (change)="navigateTo($event)">
                <option> Filter</option>
                <option value="/dashboard">All Data</option>
                <option value="/logout">Email</option>
                <option>Company</option>
                <option>Phone</option>
            </select>
        </div>
        <form class="d-flex search_bar">
            <input class="form-control me-1" type="search" placeholder="Search" aria-label="Search"
                (keypress)="searchValuse(inputValues.value)" #inputValues>
            <div class="search_button">
                <button type="button" class="search_bar_button">Search</button>
            </div>
        </form>
    </div>
</nav>